.about {
  margin: 3%;
  color: #e76f51;
}

.about ul {
  display: block;
  margin-left: 2%;
}

.about ul#list li {
  margin-bottom: 0.5%;
  display: block;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
